<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/forms.css" />
<html>

<head>
  <% include ../../includes/header.ejs %>
</head>

<body>
  <% include ../../includes/nav.ejs %>
    <div class="jumbotron text-center">
      <div class="container">
        <h1>
          <%= pageTitle %>
        </h1>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <button><a href="/eShop">Return to Home Page</a></button>
        <br>
        <h1>Edit Existing Product</h1>
      </div>
      <main>
        <div class="container">
          <div class="row">                        <!--edit this route-->
            <form class="form-addProduct" action="/eShop/edit-product" method="POST">
              <div class="form-addProductItem">
                <label for="title">Book Title</label>
                <input class="form-addProductItemBox" type="text" value="<%= item.title %>" name="title" id="title">
              </div>
              <div class="form-addProductItem">
                <label for="author">Author</label>
                <input type="text" value="<%= item.author %>" name="author" id="author">
              </div>
              <div class="form-addProductItem">
                <label for="price">Price</label>
                <input type="number" value="<%= item.price %>" name="price" id="price" step="0.01">
              </div>
              <div class="form-addProductItem">
                <label for="category">Category</label>
                <input type="text" value="<%= item.category %>" name="category" id="category">
              </div>
              <div class="form-addProductItem">
                <label for="type">Type</label>
                <input type="text" value="<%= item.type %>" name="type" id="type">
              </div>
              <div class="form-addProductItem">
                <label for="imageUrl">Image URL</label>
                <input type="text" value="<%= item.imageUrl %>" name="imageUrl" id="imageUrl">
              </div>
              <div class="form-addProductItem">
                <label for="description">Description</label>
                <textarea name="description" value="<%= item.description %>" id="description" rows="5"></textarea>
              </div>
              <div>
                <button class="btn" type="submit">Update Product</button>
              </div>
            </form>
          </div>
        </div>
      </main>
    </div>
</body>

</html>