<!DOCTYPE html>
<html>

<head>
    <% include ../../includes/header.ejs %>
</head>

<body>
    <% include ../../includes/nav.ejs %>
        <div class="jumbotron text-center">
            <div class="container">
                <h1>
                    <%= pageTitle %>
                </h1>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <h1>
                    <%= item.title %>
                </h1>
                <hr>
                <div>
                    <img src="<%= item.imageUrl %>" alt="<%= item.title %>">
                </div>
                <h2>
                    <%= item.price %>
                </h2>
                <p>
                    <%= item.description %>
                </p>
            </div>
            <div style="padding: 2%;">
                <form action="/eShop/cart" method='post'>
                    <button type="submit">Add to Cart</button>
                </form>
                <form action="/eShop/edit-product/<%= item._id %>" method='get'>
                    <button type="submit">Edit Product</button>
                </form>
                <form action="/eShop/cart" method='post'>
                    <button type="submit">Delete Product</button>
                </form>
            </div>
        </div>
        <div style="padding: 10%;">
            <button><a href="/eShop">Return to Home Page</a></button>
        </div>

</body>

</html>